		                                            :root {
		                                               /* Colors: */
		                                               --unnamed-color-94f26d: #94F26D;
		                                               --unnamed-color-f4f4f4: #F4F4F4;
		                                               --unnamed-color-ffffff: #FFFFFF;
		                                               --unnamed-color-151515: #151515;
		                                               --unnamed-color-42c712: #42C712;
		                                               --unnamed-color-55f01d: #55F01D;
		                                               --unnamed-color-6c63ff: #6C63FF;
		                                               --unnamed-color-444444: #444444;
		                                               --unnamed-color-47d215: #47D215;
		                                               --unnamed-color-92ef6c: #92EF6C;
		                                               --unnamed-color-6c6c6c: #6C6C6C;
		                                               --unnamed-color-707070: #707070;
		                                               --unnamed-color-bebebe: #BEBEBE;
		                                               --unnamed-color-3e3e3e: #3E3E3E;
		                                               --unnamed-color-49d61646: #49D616;
		                                               --unnamed-color-55f01d86: #55F01D;
		                                               --unnamed-color-f8f8f8: #F8F8F8;
		                                               --unnamed-color-f0f2f5: #F0F2F5;
		                                           }
		                                           
		                                           * {
		                                               margin: 0;
		                                               padding: 0px;
		                                           }
		                                           
		                                           body {
		                                               font-family: Nunito;
		                                               background-color: #f4f4f4;
		                                           }
		                                           
		                                           img {
		                                               height: auto;
		                                           }
		                                           
		                                           header {
		                                               background-color: #151515;
		                                               padding: 30px 0px;
		                                           }
		                                           
		                                           -->
		                                           /*Header*/
		                                           
		                                           .header__contenedor {
		                                               display: flex;
		                                               align-items: center;
		                                               justify-content: space-between;
		                                               padding: 0 10px;
		                                               max-width: 1100px;
		                                               margin: auto;
		                                           }
		                                           
		                                           .header__logo__img {
		                                               width: 120px;
		                                               margin-left: 20px;
		                                           }
		                                           
		                                           .header__icon__img {
		                                               width: 35px;
		                                               margin-right: 10px;
		                                           }
		                                           
		                                           .header__menu {
		                                               display: none;
		                                           }
		                                           
		                                           .header__menu a {
		                                               color: #FFFFFF;
		                                               text-decoration: none;
		                                               margin: 0 5px;
		                                           }
		                                           
		                                           .header__button__link {
		                                               background-color: #92EF6C;
		                                               border: 2px solid #47D215;
		                                               color: #3E3E3E;
		                                               text-decoration: none;
		                                               font-family: Nunito;
		                                               font-size: 13px;
		                                               letter-spacing: 1px;
		                                               text-transform: uppercase;
		                                               padding: 15px 25px;
		                                               border-radius: 25px;
		                                               font-weight: 600;
		                                               display: none;
		                                           }
		                                           
		                                           -->
		                                           /*Above*/
		                                           
		                                           .above {
		                                               background-color: #151515;
		                                               padding-bottom: 60px;
		                                           }
		                                           
		                                           .above__contenedor {
		                                               display: flex;
		                                               flex-direction: column;
		                                               max-width: 1100px;
		                                               margin: auto;
		                                           }
		                                           
		                                           .above__texto {
		                                               color: #FFFFFF;
		                                               font-size: 16px;
		                                               margin: auto;
		                                               text-align: center;
		                                               margin-bottom: 35px;
		                                               margin-top: 35px;
		                                               width: 316px;
		                                           }
		                                           
		                                           .above__img {
		                                               margin: auto;
		                                           }
		                                           
		                                           .above__img__human {
		                                               width: 290px;
		                                           }
		                                           
		                                           .above__img__txt {
		                                               color: #FFFFFF;
		                                               font-size: 24px;
		                                               width: 270px;
		                                               text-align: left;
		                                               margin-left: 20px;
		                                               margin-top: 30px;
		                                           }
		                                           
		                                           .above__texto__txt {
		                                               display: none;
		                                               padding: 37px 0;
		                                               font-size: 26px;
		                                               width: 475px;
		                                           }
		                                           
		                                           .above__contenedor__arrow {
		                                               text-align: left;
		                                               margin-left: 20px;
		                                               margin-top: 30px;
		                                           }
		                                           
		                                           .above__contenedor__arrow2 {
		                                               display: none;
		                                           }
		                                           
		                                           -->
		                                           /*Proyecto*/
		                                           
		                                           .proyecto__texto {
		                                               margin-top: 85px;
		                                               margin-left: 25px;
		                                               text-align: left;
		                                           }
		                                           
		                                           .proyecto__texto__line {
		                                               margin-bottom: 50px;
		                                               margin-top: 10px;
		                                               margin-left: 30px;
		                                           }
		                                           
		                                           .proyecto__texto h2 {
		                                               color: var(--unnamed-color-444444);
		                                               letter-spacing: 0.28px;
		                                               color: #444444;
		                                               opacity: 1;
		                                               font-size: 28px;
		                                               font-weight: 500;
		                                               margin-left: 30px;
		                                           }
		                                           
		                                           .proyecto__contenedor {
		                                               width: 100%;
		                                               display: flex;
		                                               flex-wrap: wrap;
		                                               justify-content: center;
		                                               margin: auto;
		                                           }
		                                           
		                                           .proyecto__contenedor .proyecto__card {
		                                               width: 515px;
		                                               height: 545px;
		                                               box-shadow: 3px 3px 3px #95959529;
		                                               ;
		                                               opacity: 1;
		                                               overflow: hidden;
		                                               margin: 15px;
		                                               text-align: left;
		                                               transition: all 0.25s;
		                                               padding: 25px;
		                                           }
		                                           
		                                           .proyecto__contenedor .proyecto__card:hover {
		                                               transform: translateY(-15px);
		                                               box-shadow: 0 12 16px rgba(0, 0, 0, 0.2);
		                                           }
		                                           
		                                           .proyecto__img {
		                                               width: 100%;
		                                               justify-content: center;
		                                           }
		                                           
		                                           .proyecto__contenedor .proyecto__card h4 {
		                                               text-align: left;
		                                               letter-spacing: 0.24px;
		                                               color: #444444;
		                                               opacity: 1;
		                                               font-size: 24pt;
		                                               font-family: Nunito;
		                                               font-weight: normal;
		                                               padding: 15px 0px 15px 0px;
		                                           }
		                                           
		                                           .proyecto__contenedor .proyecto__card p {
		                                               font-weight: 200;
		                                               text-align: left;
		                                               padding-bottom: 45px;
		                                               letter-spacing: 0.02px;
		                                               color: #444444;
		                                               opacity: 1;
		                                               font-size: 20px;
		                                               font-family: Nunito;
		                                               font-weight: 200;
		                                           }
		                                           
		                                           .proyecto__card a {
		                                               font-size: 20px;
		                                               font-family: Nunito;
		                                               font-weight: 400;
		                                               text-decoration: none;
		                                               color: #444444;
		                                           }
		                                           
		                                           .proyecto__link {
		                                               padding-left: 25px;
		                                           }
		                                           
		                                           .proyecto__button {
		                                               text-align: center;
		                                               width: 286px;
		                                               font-weight: 800;
		                                               padding: 50px 0 150px;
		                                               margin-left: auto;
		                                               margin-right: auto;
		                                               padding-top: 137px;
		                                               padding-bottom: 75px;
		                                           }
		                                           
		                                           .proyecto__button__link {
		                                               background-color: #92EF6C;
		                                               border: 2px solid #47D215;
		                                               color: #3E3E3E;
		                                               text-decoration: none;
		                                               font-family: Nunito;
		                                               font-size: 20px;
		                                               letter-spacing: 1px;
		                                               padding: 15px 25px;
		                                               border-radius: 25px;
		                                               font-weight: 600;
		                                           }
		                                           
		                                           -->
		                                           /*Action*/
		                                           
		                                           .action {
		                                               background-color: #151515;
		                                               color: #FFFFFF;
		                                               padding: 35px;
		                                               display: flex;
		                                           }
		                                           
		                                           .action h3 {
		                                               font-size: 2em;
		                                               font-weight: 400;
		                                               text-align: left;
		                                               padding-top: 65px;
		                                               margin-left: 50px;
		                                               width: 600px;
		                                           }
		                                           
		                                           .action p {
		                                               font-size: 30px;
		                                               padding-top: 40px;
		                                               margin-left: 50px;
		                                           }
		                                           
		                                           .action__button__link {
		                                               background-color: #F4F4F4;
		                                               border: 2px solid #47D215;
		                                               color: #3E3E3E;
		                                               text-decoration: none;
		                                               font-family: Nunito;
		                                               font-size: 20px;
		                                               letter-spacing: 1px;
		                                               padding: 15px 25px;
		                                               border-radius: 25px;
		                                               font-weight: 600;
		                                           }
		                                           
		                                           -->
		                                           /*Servicios*/
		                                           
		                                           .services {
		                                               background-color: #94F26D;
		                                               color: #3D3D3D;
		                                               padding-bottom: 55px;
		                                           }
		                                           
		                                           .services__texto h2 {
		                                               padding-top: 85px;
		                                               margin-left: 50px;
		                                               text-align: left;
		                                               font-weight: 400;
		                                               font-size: 28px;
		                                           }
		                                           
		                                           .services__texto__line {
		                                               margin-bottom: 50px;
		                                               margin-top: 10px;
		                                               margin-left: 50px;
		                                           }
		                                           
		                                           .services_list {
		                                               list-style: none;
		                                               font-size: 24px;
		                                               font-weight: bold;
		                                               display: flex;
		                                           }
		                                           
		                                           .services_list li {
		                                               padding: 15px;
		                                               width: 160px;
		                                               text-align: center;
		                                               margin-left: 100px;
		                                               padding: 35px;
		                                           }
		                                           
		                                           -->
		                                           /*Blog*/
		                                           
		                                           .blog {
		                                               margin: 30px;
		                                           }
		                                           
		                                           .blog__contenedor {
		                                               display: flex;
		                                           }
		                                           
		                                           .blog__contenedor .blog__card {
		                                               width: 535px;
		                                               height: 204px;
		                                               box-shadow: 0px 3px 3px #76767629;
		                                               border-radius: 3px;
		                                               opacity: 1;
		                                               overflow: hidden;
		                                               margin: 70px;
		                                               text-align: left;
		                                               transition: all 0.25s;
		                                               background-color: #FFFFFF;
		                                           }
		                                           
		                                           .blog__imagen1 {
		                                               width: 230px;
		                                               height: 204px;
		                                               float: left;
		                                               margin: 0px;
		                                               padding: 0px;
		                                           }
		                                           
		                                           .blog__texto {
		                                               padding-left: 8px;
		                                               text-align: left;
		                                           }
		                                           
		                                           .blog__texto p {
		                                               font: normal normal 400 22px/28px Nunito;
		                                               letter-spacing: 0.03px;
		                                               color: #444444;
		                                               opacity: 1;
		                                               padding-left: 260px;
		                                               padding-top: 38px;
		                                           }
		                                           
		                                           .icon__blog img {
		                                               padding-left: 260px;
		                                               padding-top: 20px;
		                                           }
		                                           
		                                           .articulos {
		                                               display: flex;
		                                               padding-left: 1100px;
		                                           }
		                                           
		                                           .articulos img {
		                                               padding-left: 30px;
		                                           }
		                                           
		                                           .articulos a {
		                                               font: normal normal normal 22px/30px Nunito;
		                                               text-decoration: none;
		                                               color: #444444
		                                           }
		                                           
		                                           -->
		                                           /*Footer*/
		                                           
		                                           footer {
		                                               background-color: var(--unnamed-color-151515);
		                                               color: #f4f4f4;
		                                               padding-top: 45px;
		                                               padding-left: 65px;
		                                               padding-right: 55px;
		                                               padding-bottom: 15px;
		                                               font: normal normal normal 16px/38px Nunito;
		                                               letter-spacing: 0.48px;
		                                               justify-content: space-between;
		                                               display: flex;
		                                           }
		                                           
		                                           .footer__texto__izq {
		                                               display: flex;
		                                           }
		                                           
		                                           .footer__texto__izq {
		                                               color: #f4f4f4;
		                                               padding: 15px;
		                                               text-decoration: none;
		                                           }
		                                           
		                                           .mail__center__footer {
		                                               padding-bottom: 65px;
		                                           }
		                                           
		                                           .footer__texto__derecha {
		                                               display: flex;
		                                           }
		                                           
		                                           .footer__texto__derecha a {
		                                               color: #f4f4f4;
		                                               padding: 15px;
		                                               text-decoration: none;
		                                           }
		                                           
		                                           .footer__texto__derecha img {
		                                               padding-right: 10px;
		                                           }
		                                           /*Media Querys*/
		                                           
		                                           @media screen and (min-width: 500px) {
		                                               .header__button__link {
		                                                   display: block;
		                                               }
		                                           }
		                                           
		                                           @media screen and (min-width:780px) {
		                                               .header__logo__img {
		                                                   width: 180px;
		                                               }
		                                               .header__menu {
		                                                   display: flex;
		                                                   font: normal normal normal 18px/42px Nunito;
		                                                   list-style: none;
		                                                   margin-left: 200px;
		                                               }
		                                               .header__menu a {
		                                                   margin: 0 20px;
		                                               }
		                                               .header__icon {
		                                                   display: none;
		                                               }
		                                               .above {
		                                                   padding-bottom: 60px;
		                                               }
		                                               .above__contenedor {
		                                                   flex-direction: row;
		                                                   justify-content: center;
		                                                   padding-top: 50px;
		                                               }
		                                               .above__img__txt {
		                                                   flex-direction: row;
		                                                   display: none;
		                                               }
		                                               .above__img__arrow {
		                                                   display: none;
		                                               }
		                                               .above__texto__txt {
		                                                   display: block;
		                                               }
		                                               .above__contenedor__arrow2 {
		                                                   display: block;
		                                               }
		                                               .proyecto__contenedor .proyecto__card:hover {
		                                                   transform: translateY(-15px);
		                                                   box-shadow: 0 12 16px rgba(0, 0, 0, 0.2);
		                                               }
		                                           }
		                                           
		                                           @media screen and (min-width:1200px) {
		                                               .above__img__human {
		                                                   width: 506px;
		                                               }
		                                               .above__texto {
		                                                   font-size: 20px;
		                                                   width: 600px;
		                                                   text-align: left;
		                                               }
		                                               .above__img {
		                                                   margin-top: 40px;
		                                               }
		                                               .services {
		                                                   display: block;
		                                               }
		                                           }